<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="simple_assembly">

    <!-- Import simple_assembly urdf file -->
    <xacro:include filename="$(find simple_assembly)/urdf/simple_assembly.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="simple_assembly.ros2_control.xacro" />

    <xacro:arg name="calibrate_on_start" default="false"/>
    <xacro:arg name="zero_offsets_file" default="/home/terralabscove/.ros/damiao_zero_offsets.yaml"/>

    <xacro:simple_assembly_ros2_control
        name="DamiaoArm"
        calibrate_on_start="$(arg calibrate_on_start)"
        zero_offsets_file="$(arg zero_offsets_file)"/>

</robot>
