<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="simple_assembly_tracking">

    <xacro:include filename="$(find simple_assembly_tracking)/urdf/simple_assembly_tracking.urdf.xacro" />

    <xacro:include filename="simple_assembly_tracking.ros2_control.xacro" />
    <xacro:simple_assembly_tracking_ros2_control name="DamiaoArm"/>

</robot>
