<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="simple_turret">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import simple_turret urdf file -->
    <xacro:include filename="$(find simple_turret)/urdf/simple_turret.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="simple_turret.ros2_control.xacro" />


    <xacro:simple_turret_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
